node_modules

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

dist/
# TS -incremental file
tsconfig.tsbuildinfo
node_modules

# Node
/node_modules
npm-debug.log
yarn-error.log

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
